@font-face {
    font-family: upheavtt;
    src: url('../fonts/upheavtt.ttf');
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: "upheavtt";
    font-size: 20px;
}

* {
    -webkit-user-select: none;
    z-index: 0;
}

section.main-container {
    padding: 52px;
    overflow: hidden;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

body {
    background: url("../gfx/gemini-bg.png");
}

.button-container {
    z-index: 10;
    position: fixed;
    top: 46px;
    right: 65px;
    display: inline-block;
}

span.glyphicon.glyphicon-minus {
    position: relative;
    top: 6px;
}

.text-muted {
    cursor: default;
}

.lg {
    min-width: 112px;
}

#seed {
    cursor: pointer;
    min-width: 120px;
}

.button:hover {
    background-color: rgba(169, 68, 66, 1);	
}

.button {
    cursor: pointer;
    color: #111;
    /*
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 3px;
    border: 4px solid #111;
    */
    text-shadow: 1px 1px #a94442, -1px -1px #a94442, 1px -1px #a94442, -1px 1px #a94442;
    line-height: 16px;
    padding: 2px;
    display: inline-block;
    text-align: center;
    width: 28px;
}

#settings-form input {
    -webkit-user-select: initial;
    max-width: 300px;
}

#settings-form input[type="checkbox"] {
    position: relative;
    top: 2px;
}

#settings-form input[type="text"] {
    padding-left: 4px;
}

#settings-form label {
    width: 50%;
    display: inline-block;
    text-align: right;
}

