
ul.stage-list {
    margin: 5px 5px 0 0;
    padding: 0;
    list-style: none;
}

ul.stage-list li {
    position: relative;
    width: 64px;
    height: 40px;
}

ul.stage-list li.stage.in:after {
    content: "";
    position: relative;
    width: 64px;
    height: 40px;
    z-index: 2;
    display: inline-block;
    left: -16px;
    background: url(../gfx/ui/stage/progress.png) -66px 444px;
    background-size: 256px 512px;
    image-rendering: pixelated;
}

ul.stage-list li.stage.xl:before {
    content: "XL";
    color: #111;
    padding-left: 2px;
    font-size: 10px;
    line-height: 7px;
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 15px;
    background-color: #A94442;
    border: 4px solid #111;
    border-radius: 3px;
    left: 22px;
    top: -7px;
}

.stage {
    background: url(../gfx/ui/stage/progress.png) -64px 490px;
    background-size: 256px 512px;
    image-rendering: pixelated;
}

.basement {
    background: url(../gfx/ui/stage/progress.png) 0px 360px;
    background-size: 256px 512px;
}

.burning-basement {
    background: url(../gfx/ui/stage/progress.png) -64px 168px;
    background-size: 256px 512px;
}    

.cellar {
    background: url(../gfx/ui/stage/progress.png) -64px 360px;
    background-size: 256px 512px;
}

.caves {
    background: url(../gfx/ui/stage/progress.png) -128px 360px;
    background-size: 256px 512px;
}

.flooded-caves {
    background: url(../gfx/ui/stage/progress.png) -128px 168px;
    background-size: 256px 512px;
}

.catacombs {
    background: url(../gfx/ui/stage/progress.png) -192px 360px;
    background-size: 256px 512px;
}

.depths {
    background: url(../gfx/ui/stage/progress.png) 0px 296px;
    background-size: 256px 512px;
}

.dank-depths {
    background: url(../gfx/ui/stage/progress.png) 64px 168px;
    background-size: 256px 512px;
}

.necropolis {
    background: url(../gfx/ui/stage/progress.png) -64px 296px;
    background-size: 256px 512px;
}

.womb {
    background: url(../gfx/ui/stage/progress.png) -128px 296px;
    background-size: 256px 512px;
}

.utero {
    background: url(../gfx/ui/stage/progress.png) -192px 296px;
    background-size: 256px 512px;
}

.scarred-womb {
    background: url(../gfx/ui/stage/progress.png) 128px 104px;
    background-size: 256px 512px;
}

.cathedral {
    background: url(../gfx/ui/stage/progress.png) -64px 232px;
    background-size: 256px 512px;
}

.sheol {
    background: url(../gfx/ui/stage/progress.png) 0px 232px;
    background-size: 256px 512px;
}

.blue-womb {
    background: url(../gfx/ui/stage/progress.png) 64px 104px;
    background-size: 256px 512px;
}

.chest {
    background: url(../gfx/ui/stage/progress.png) -128px 232px;
    background-size: 256px 512px;
}

.darkroom {
    background: url(../gfx/ui/stage/progress.png) -192px 232px;
    background-size: 256px 512px;
}

.the-shop {
    background: url(../gfx/ui/stage/progress.png) 0px 360px;
    background-size: 256px 512px;
}

.ultra-greed {
    background: url(../gfx/ui/stage/progress.png) 0px 360px;
    background-size: 256px 512px;
}

.ultra-greed:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 48px;
    right: -26px;
    background: url(../gfx/ui/stage/progress.png) 64px 58px;
    background-size: 256px 512px;
    image-rendering: pixelated;
}
    
