
.transformation-container {
    position: fixed;
    top: 32px;
    left: 228px;
}


.player {
    width: 64px;
    height: 64px;
    position: relative;
    top: -16px;
}

.transformation:after, .transformation:before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
}

.transformation.two {
}

.transformation.three, .transformation.three:after {
    opacity: 1;
}

.transformation {
    width: 64px;
    height: 64px;
    display: inline-block;
    opacity: 0.5;
    position: relative;
    margin: -16px -12px;
}

.angel.one:after {
    background: url("../gfx/characters/costumes/transformation_angel_head.png");
}
.angel.two:before {
    background: url("../gfx/characters/costumes/transformation_angel_body.png") 0 8px;
}

.baby.one:after {
    background: url("../gfx/characters/costumes/transformation_baby.png");
}
.baby.two:before {
    background: url("../gfx/characters/costumes/transformation_baby_body.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 20px 16px 10px;
}

.bob.one:after {
    background: url("../gfx/characters/costumes/transformation_bob_head.png");
}
.bob.two:before {
    background: url("../gfx/characters/costumes/transformation_bob_body.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 20px 16px 10px;
}

.drugs.one:after {
    background: url("../gfx/characters/costumes/transformation_drugs_head.png");
}
.drugs.two:before {
    background: url("../gfx/characters/costumes/transformation_drugs_body.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 22px 16px 8px;
}

.evilangel.one:after {
    background: url("../gfx/characters/costumes/transformation_evilangel_head.png");
}
.evilangel.two:before {
    background: url("../gfx/characters/costumes/transformation_evilangel_body.png") 0 -4px;
}

.guppy.one:after {
    background: url("../gfx/characters/costumes/costume_guppyhead.png") 0 34px;
    width: 32px;
    height: 32px;
    margin: 16px;
}
.guppy.two:before {
    background: url("../gfx/characters/costumes/costume_guppy_body.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 23px 16px 7px;
}

.lordoftheflies.one:after {
    background: url("../gfx/characters/costumes/costume_rebirth_69_lordoftheflieshead.png");
    width: 32px;
    height: 32px;
    margin: 16px;
}
.lordoftheflies.two:before {
    background: url("../gfx/characters/costumes/costume_263_lordofthefliesbody.png");
    width: 32px;
    height: 32px;
    margin: 27px 16px 3px;
}

.mom.one:after {
    background: url("../gfx/characters/costumes/transformation_angel_head.png");
}
.mom.two:before {
    background: url("../gfx/characters/costumes/transformation_mom.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 22px 16px 8px;
}

.mushroom.one:after {
    background: url("../gfx/characters/costumes/transformation_mushroom_head.png");
}
.mushroom.two:before {
    background: url("../gfx/characters/costumes/transformation_mushroom_body.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 20px 16px 10px;
}

.poop.one:after {
    background: url("../gfx/characters/costumes/transformation_poop_head.png");
}
.poop.two:before {
    background: url("../gfx/characters/costumes/transformation_poop_body.png") 0 -58px;
    width: 32px;
    height: 32px;
    margin: 20px 16px 10px;
}
